h1 {
    font-family: 'Open Sans', bold;
    text-align: center;
}

#rotate {
    transform: rotate(-10deg);
    font-size: 80px;
    font-family: 'Lobster';
}

#rectangle1{
    background: #2565AE;
    width: 100%;
    height: 54px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.container {
    flex-direction: row;
    display: flex;
}


#ellipse1{
    background: #E97D7D;
    width: 42px;
    height: 37px;
    border-radius: 50%;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
}
#ellipse2{
    background: #54C172;
    width: 42px;
    height: 37px;
    border-radius: 50%;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
}
#ellipse3{
    background: #E9DE7D;
    width: 42px;
    height: 37px;
    border-radius: 50%;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
}

.title {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    font-size: 100px;
    color: #EAEC83;
    border-radius: 25px;
    background: #2565AE;
    padding: 20px;
    width: 1250px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.bruin {
    width: 10%;
    height: auto;
}

.imgStyle{
    display: block;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    margin-right: 70px;
    margin-left: 70px;
}

.description {
    display: flex;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;

}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px
}

.academics {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 40px;
    font-style: italic;
    position: relative;
    margin-top: 50px;
}

.health {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 40px;
    font-style: italic;
    position: relative;
    margin-top: 50px;
}

.flex-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px
}

.life {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 40px;
    font-style: italic;
    position: relative;
    margin-top: 50px;
}

.financial {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 40px;
    font-style: italic;
    position: relative;
    margin-top: 50px;
}

.adesc {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: lighter;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 20px;
}

.fdesc {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: lighter;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 20px;
}

.hdesc {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: lighter;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 20px;
}

.ddesc {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 20px;
}

