.btn-group {
  text-align: center;
}

.header {
  padding: 30px;
  text-align: center;
  background: #3C99DC;
  color: white;
  font-size: 25px;
}

.button {
  border-color: #0F5298;
/*I couldn't figure out how to fix the border color, but if someone can spot what I missed that would be great!*/
  background-color: #3C99DC;
  cursor: pointer;
  width: 350px
  height: 200px
  margin: 20px
  padding: 100px 100px;
  font-size: 20px;
/*I also wanted to change the text to look less like a hyperlink and more like regular text, but I kept running into errors, I will look into it tomorrow*/
}

button:hover {
  background-color: #66D3FA;
}

body {
  background-color: #D5F3FE;
}
